/.aws
.terraform.lock.hcl
crash.log
*.log
*.exe
.aws/
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

# Windows & Visual Studio
*.exe
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
bin/
obj/
*.log